{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "VMsku": { "value": "Standard_DS3_v2" },
    "nodeCount": { "value": 3 },
    "storageDiskSize": { "value": "P10" },
    "nbStorageDisks": { "value": 3 },
    "RGvnetName": { "value": "spix" },
    "vnetName": { "value": "grid-vnet" },
    "adminUsername": { "value": "centos" },
    "sshKeyData": {"value": ""},
    "masterName": { "value": "spimaster" },
  }
}

